<!-- Modal: Add Roll -->
<div class="modal fade" id="rollModal" tabindex="-1" role="dialog" aria-labelledby="rollModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="roll-form" enctype="multipart/form-data" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rollModalLabel">Add New Roll</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        {{ roll_form.hidden_tag() }}

        <div class="form-group">
          {{ roll_form.roll_name.label }} 
          {{ roll_form.roll_name(class="form-control") }}
        </div>

        <div class="form-group">
          {{ roll_form.film_id.label }} 
          {{ roll_form.film_id(class="form-control", id="roll-film-select") }}
        </div>

        <div class="form-group">
          {{ roll_form.start_date.label }}
          {{ roll_form.start_date(class="form-control") }}
        </div>

        <!-- Removed: end_date -->
        <!-- Removed: status -->

        <div class="form-group">
          {{ roll_form.notes.label }}
          {{ roll_form.notes(class="form-control", rows="3") }}
        </div>
      </div>

      <div class="modal-footer">
        {{ roll_form.submit(class="btn btn-dark") }}
      </div>
    </form>
  </div>
</div>
