body {
    background-color: #F2E8CF;

}

.content-container {
    transform: translateX(50px);
}

.gear-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.gear-card {
    width: 309px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;

    transition: all 0.3s ease; 
    /* transition: transform 0.2s ease, box-shadow 0.2s ease; */
}

.gear-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
} 

.gear-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

.gear-card .info {
    margin-top: 8px;
    font-size: 0.9rem;
}

.gear-card .subtext {
    color: #666;
    font-size: 0.8rem;
}

.add-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border: 2px dashed #ccc;
    font-weight: bold;
}

.add-card:hover {


    font-size: 1.3rem;
    border-color: #5e5c5c;

    /* background-color: #fff; */
}