body {
    background-color: #F2E8CF;

}


.gear-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}



.gear-card {
    flex: 1 1 calc(25% - 15px);
    max-width: calc(25% - 15px);
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    transition: all 0.3s ease; 
}

.gear-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
} 



.gear-card img {
    width: 100%;
    aspect-ratio: 5/ 4; /* Fixed aspect ratio */
    object-fit: cover;   /* The image fills the area but maintains the proportions and crops the edges */
    display: block;
    border-radius: 8px;
}



.gear-card .info {
    margin-top: 8px;
    font-size: 0.9rem;
}

.gear-card .subtext {
    color: #666;
    font-size: 0.8rem;
}

.add-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border: 2px dashed #ccc;
    font-weight: bold;
}

.add-card:hover {


    font-size: 1.3rem;
    border-color: #5e5c5c;

    /* background-color: #fff; */
}

@media (max-width: 768px) {
    .gear-card {
        flex: 1 1 calc(50% - 12px);
        max-width: calc(50% - 12px);
    }
}