.custom-navbar {
    background-color: #F2E8CF; /* Custom background color */
    color: #6B705C; /* Custom text color */
    border-bottom: 2px solid #6B705C; /* Add a bottom border */
}

.custom-navbar .nav-link {
    color: #6B705C; /* Navigation link text color */
    font-size: 20px;
}

.custom-navbar .nav-item {
    display: flex; /* Use Flexbox layout */
    align-items: center; /* Vertically align items */
    font-weight: bold;
}

/* Custom navbar button styles */
.custom-navbar .btn {
    margin-left: 20px; /* Spacing between buttons */
    border-radius: 15px; /* Rounded corners */
    font-size: 20px;
    font-weight: bold; /* Bold text */
    padding: 12px 20px; /* Adjust button padding */
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition effect */
}

/* Hover effect for buttons */
.custom-navbar .btn-login:hover {
    background-color: #6B705C; /* Background color on hover */
    color: white; /* Text color on hover */
}

.custom-navbar .btn-signup:hover {
    background-color: #6B705C; /* Background color on hover */
    color: white; /* Text color on hover */
}

.custom-navbar .btn-logout:hover {
    background-color: #B5838D; /* Background color on hover */
    color: white; /* Text color on hover */
}



/* _________________________________________________________________ */



.sidebar {
    position: fixed;
    top: 100px; /* Adjusted to match the navbar height */
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    box-shadow: 10px 0 10px rgba(0,0,0,0.1);
    transition: left 0.3s ease;
    z-index: 1000;
    padding-top: 20px;
    padding-left: 20px;
}

.sidebar.active {
    left: 0;
}

.sidebar a {
    color: #333;
    text-decoration: none;
}

.btn-login,
.btn-signup,
.btn-logout {
    margin-left: 10px;
}

body {
    padding-top: 130px; 
}


/* Sidebar toggle button styles */
#sidebarToggle {
    width: 55px; /* Fixed width */
    height: 55px; /* Fixed height */
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 24px; /* Ensure consistent font size */
    line-height: 1; /* Avoid font height affecting layout */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Add smooth transitions */
    border: 1px solid #6B705C; /* Border */
    border-radius: 5px; /* Rounded corners */
    overflow: hidden;  
    
}

/* Hover effect for the toggle button */
#sidebarToggle:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
    background-color: #6B705C; /* Change background color */
    color: white; /* Change text color */
}

