body {
    background-color: #F2E8CF;
}

.charts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 30px;
}

.chart-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.chart-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chart-title {
    font-weight: bold;
    color: #2c2c2c;
}

.bar {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

.bar-wrapper {
    flex: 1;
    position: relative;
    height: 30px;
    background: #e4e4e4;
    border-radius: 15px;
    overflow: hidden;
}

.bar-label {
    flex: 0 0 100px;
    color: #2c2c2c;
    font-weight: normal;
    text-align: right;
    padding-right: 15px;
    max-width: 80px;
}

.bar-fill {
    position: absolute;
    height: 100%;
    background: linear-gradient(90deg, #B5838D, #d8b5bc);
    border-radius: 15px;
    width: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: width 1s ease-out;
}

.bar-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #A5A58D;
    margin-right: 5px;
    transform: scale(0);
    transition: transform 0.5s ease-out;
}

.chart-icon {
    height: 40px;
    width: 40px;
}

.film-leaderboard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.film-leaderboard-position {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#shutter-speed {
    width: 600px;
}

#gear-preference {
    width: 400px;
}

#favourite-film-img {
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

#donut-chart {
    width: 100px;
    height: 100px;
}