{% extends "base.html" %}
{% block title %}Intro{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_mod.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <h1>Track every frame.</h1>
  <p class="subtext">Digitize your film journey.</p>

  <div class="features">
    <div class="feature" onclick="window.location.href='/gear'">
      <div class="feature-content">
        <img src="{{ url_for('static', filename='images/camera.gif') }}" alt="Camera Icon" class="feature-icon" />
        <p>Add your cameras,<br />lenses, and film<br />&nbsp;</p>
      </div>
    </div>

    <div class="feature" onclick="window.location.href='/shooting'">
      <div class="feature-content">
        <img src="{{ url_for('static', filename='images/film.gif') }}" alt="Film Icon" class="feature-icon" />
        <p>Record aperture,<br />shutter speed, ISO,<br />location & more</p>
      </div>
    </div>

    <div class="feature" onclick="window.location.href='/stats'">
      <div class="feature-content">
        <img src="{{ url_for('static', filename='images/analysis.gif') }}" alt="Stats Icon" class="feature-icon" />
        <p>Visualize exposure<br />and gear preferences<br />&nbsp;</p>
      </div>
    </div>

    <div class="feature" onclick="window.location.href='/share'">
      <div class="feature-content">
        <img src="{{ url_for('static', filename='images/share.gif') }}" alt="Share Icon" class="feature-icon" />
        <p>Share your shooting<br />maps and photos<br />&nbsp;</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
