<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login to FilmTrack</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  </head>
  <body>
    <div class="login-container">
      <h1>Welcome to FilmTrack!</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% set last = messages[-1:] %}
            {% for category, message in last %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('auth.login') }}">
          {{ form.hidden_tag() }}

          <label for="username">{{ form.username.label }}</label>
          {{ form.username(class="form-control") }}

          <label for="password">{{ form.password.label }}</label>
          {{ form.password(class="form-control") }}

          <button type="submit">Log in</button>
        </form>
        <div style="text-align: center; margin-top: 20px;">
          <a href="{{ url_for('main.home') }}" class="back-btn">← Back to Home</a>

        </div>


      <p class="signup-text">
        Don’t have an account yet?
        <a href="{{ url_for('auth.register') }}">Sign up now!</a>
      </p> 
    </div>
  </body>
</html>
