{% extends "base.html" %}
{% block title %}My Shooting Rolls{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shooting-rolls.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/shooting-frames.css') }}">

{% endblock %}

{% block content %}

<!-- Modal: Add & Edit Roll -->
{% include "_modals/roll_modal.html" %}

{% include '_modals/roll_edit_modal_use.html' %}
{% include '_modals/roll_edit_modal_fin.html' %}
{% include '_modals/roll_finished.html' %}
{% include '_modals/frame_model.html' %}
{% include '_modals/frame_edit_model.html' %}


<div class="content-container">
    <h2>Rolls In Use</h2>
    <div id="roll-list" class="gear-section"></div>
</div>

<hr>

<div class="content-container">
    <h2>Roll Developed</h2>
    <div id="roll-detail-list" class="roll-detail-section"></div>
</div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/shooting-rolls.js') }}"></script>
<script src="{{ url_for('static', filename='js/shooting-frames.js') }}"></script>
{% endblock %}
