{% extends "base.html" %}

{% block title %}Stats{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
<script src="{{ url_for('static', filename='js/stats-charts.js') }}"></script>


<div class="charts">
  <div class="chart-row">
    <div class="chart-tile">
      <div class="chart-container" id="shutter-speed">
        <p class="chart-title">Shutter Speed Distribution</p>

        <!-- BAR EXAMPLE:
        <div class="bar">
          <div class="bar-label"></div>
          <div class="bar-wrapper">
            <div class="bar-fill" data-value="50"></div>
          </div>
        </div> -->
      </div>

      <div class="chart-container" id="aperture-distribution">
        <p class="chart-title">Aperture Distribution</p>

        <div>
          <canvas id="donut-chart"></canvas>
        </div>
      </div>
    </div>

    <div class="chart-tile" id="favourite-film">
      <div class="chart-container">
        <p class="chart-title">Favourite Film</p>

        <!--<div class="film-leaderboard">
          <div class="film-leaderboard-position">
            <img
              src="https://images.squarespace-cdn.com/content/v1/579d7b8c29687f4dd9d83ad9/775260f5-a308-4f4f-ad52-26e2032c918d/000048930026.jpg?format=1000w"
              id="favourite-film-img">
            <h1>#1</h1>
          </div>
        </div>

        <div class="film-leaderboard">
          <div class="film-leaderboard-position">
            <h3>#2 Porta 400</h3>
          </div>
        </div>

        <div class="film-leaderboard">
          <div class="film-leaderboard-position">
            <h3>#3 Tri-X 400</h3>
          </div>
        </div>-->
      </div>
    </div>

  </div>
  <div class="chart-row">
    <div class="chart-tile">
      <div class="chart-container">
        <p class="chart-title">Gear Preference</p>
        <div class="gear-preference">
          <div class="gear-chart-container">
            <canvas class="gear-chart" id="cameras-chart"></canvas>
            <img src="https://cdn-icons-png.flaticon.com/512/2956/2956744.png" class="chart-icon">
          </div>
          <div class="gear-chart-container">
            <canvas class="gear-chart" id="lenses-chart"></canvas>
            <img src="https://cdn-icons-png.flaticon.com/512/6481/6481726.png" class="chart-icon">
          </div>
          <div class="gear-chart-container">
            <canvas class="gear-chart" id="film-chart"></canvas>
            <img src="https://static.thenounproject.com/png/765569-200.png" class="chart-icon">
          </div>
        </div>
      </div>
    </div>

    <div class="chart-tile" id="monthly">
      <div class="chart-container">
        <p class="chart-title">Monthly Trend</p>

        <div>
          <canvas id="monthly-trend"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="chart-row" id="location-map">
    <div class="chart-tile">
      <div class="chart-container">
        <p class="chart-title">Location Map</p>

        <div id="map"></div>
      </div>
    </div>

    <div class="chart-tile">
      <div class="chart-container"  id="location-stats">
        <p class="chart-title">Top Locations</p>
      </div>
    </div>
  </div>

</div>
{% endblock %}