{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Upload Camera</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h2>Upload New Camera</h2>
    <form id="camera-upload-form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.name.label }}<br>{{ form.name(size=40) }}<br><br>
        {{ form.brand.label }}<br>{{ form.brand(size=40) }}<br><br>
        {{ form.type.label }}<br>{{ form.type() }}<br><br>
        {{ form.format.label }}<br>{{ form.format() }}<br><br>
        {{ form.image.label }}<br>{{ form.image() }}<br><br>
        {{ form.is_public.label }} {{ form.is_public() }}<br><br>
        {{ form.submit() }}
    </form>

    <script>
    $(function () {
        $('#camera-upload-form').on('submit', function (e) {
            e.preventDefault();
            const formData = new FormData(this);
            $.ajax({
                url: '/upload_camera',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (res) {
                    alert(res.message);
                    $('#camera-upload-form')[0].reset();
                },
                error: function (xhr) {
                    alert('Upload failed: ' + (xhr.responseJSON?.message || 'Unknown error'));
                }
            });
        });
    });
    </script>
</body>
</html>
{% endblock %}